.nuxt-transition {
  &--enter {
    opacity: 0;
    transform: translateY(4px);
  }

  &--enter-active {
    transition-duration: 0.16s;
  }

  &--enter-to {
    opacity: 1;
  }

  &--leave {
    opacity: 1;
  }

  &--leave-active {
    transition-duration: 0.16s;
  }

  &--leave-to {
    opacity: 0;
    transform: translateY(-4px);
  }
}
