:root {
  color: var(--gray--900);
  font-display: swap;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  touch-action: manipulation;
}
